{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Vitalii Podhornyi - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Vitalii Podhornyi."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{% static 'images/headshot.jpg' %}" alt="Alan Smith" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Vitalii Podhornyi</h1>
			<h2 class="quickFade delayThree">Junior Python/Django Developer</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>e: <a href="#" target="_blank">vitalii.podgornii@gmail.com</a></li>
				<li>w: <a href="#">Sweater</a></li>
				<li>m: +380932820688</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>
				
				<div class="sectionContent">
					<p>I'm looking for a job to gain experience in IT and improve my skills.<br/>
                        Personal qualities: self-control, stress resistance, communicativeness.<br/> I quickly learn something
                        new. I positively perceive criticism, a team person, the ability to google, ready to learn something
                        new.
                        <br/><br/>
                        I'm work well with Django Python. I have experience working with: OS windows, Pygame, Django RESE Framework.
                        In my work encountered with GIT, MYSQL, and HTML CSS</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>BNB Solutions</h2>
					<p class="subDetails">October 2021 - February 2022</p>
					<p> </p>
				</article>
				
				<article>
					<h2>Kodland</h2>
					<p class="subDetails">February 2022 - Present</p>
					<p>I teach python, cratch, roblox at an online programming school. I teach kids to code. This is an international online school where kids from all over the world can learn to code.</p>
				</article>
				
				<article>
					<h2>STfalcon</h2>
					<p class="subDetails">June 2022 - Present</p>
					<p>I teach python, and in the Ukrainian school. I also teach them Microsoft Minecraft Scratch. As in game mode, you can both play and learn useful things.</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Python</li>
					<li>HTML & CSS</li>
					<li>Django</li>
					<li>Django REST Framework</li>
					<li>Jsom</li>
					<li>SQLite</li>
					<li>NoSQL</li>
					<li>Git</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>University</h2>
                    <p class="subDetails">October 2014 - October 2019</p>
					<p class="subDetails">Engineer</p>

					<p>Wyższa Szkola Technologii Informatycznych</p>
				</article>
				

			</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>